.hero {
  font-family: "Montserrat-bold", sans-serif;
  font-weight: 700;
  color: white;
}

.hero__inner {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url(../assets/hero.jpg);
  background-size: cover;
  background-position: center, center;
  min-height: 72vh;
  max-width: 1440px;

  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .hero__inner {
    min-height: 67.5vh;
  }
}
