.ideas__inner {
  max-width: 940px;
  margin: 6rem auto 0 auto;
}

.ideas__title {
  padding: 3.5rem 0 3.8rem 0;
}

.ideas__grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 1rem;
}

@media screen and (max-width: 500px) {
  .ideas__grid {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
  }
  .ideas__inner {
    margin-top: 3.3rem;
  }

  .ideas__title {
    padding: 0 1rem 1.8rem 1rem;
  }
}
