.introduction {
  min-height: 60vh;
}

.introduction__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  max-height: 27rem;
  transform: translate(0, 37%);
}

.introduction__title {
  max-width: 40%;

  font-size: 5.2rem;
  text-align: center;
  text-transform: uppercase;

  padding-bottom: 2.6rem;
}

.introduction__text {
  font-family: "Roboto-light", sans-serif;
  font-size: 2.4rem;
  font-weight: 300;

  padding-bottom: 3rem;
}

@media screen and (max-width: 960px) {
  .introduction {
    min-height: 60vh;
  }

  .introduction__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    max-height: 27rem;
    transform: translate(0, 37%);
  }

  .introduction__title {
    max-width: 75%;
  }
}

@media screen and (max-width: 960px) {
  .introduction__inner {
    transform: translate(0, 45%);
  }
}

@media screen and (max-width: 500px) {
  .introduction {
    min-height: 30vh;
  }

  .introduction__inner {
    transform: none;
    padding-top: 2.8rem;
  }

  .introduction__title {
    font-size: 2.8rem;
    letter-spacing: 2px;
    line-height: 3.4rem;
    max-width: 100%;
    padding-bottom: 1.5vh;
  }

  .introduction__text {
    text-align: center;
    font-size: 1.8rem;
    line-height: 2rem;
    max-width: 70%;
    padding-bottom: 1.8vh;
  }

  .introduction__btn {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
