.introduction{
    min-height: 60vh; 
}

.introduction__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    max-height: 27rem;
    transform: translate(0, 37%);
}

.introduction__title{
    max-width: 40%;

    font-size: 5.2rem;
    text-align: center;
    text-transform: uppercase;

    padding-bottom: 2.6rem;
}

.introduction__text{
    font-family: 'Roboto-light', sans-serif;
    font-size: 2.4rem;
    font-weight: 300;

    padding-bottom: 3rem;
}

@media screen and (max-width:960px){
    .introduction{
        min-height: 60vh; 
    }
    
    .introduction__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
        max-height: 27rem;
        transform: translate(0, 37%);
    }
    
    .introduction__title{
        max-width: 75%;
    }
    
    .introduction__text{
    
    }
}

@media screen and (max-width: 500px){
    .introduction{
        min-height: 40vh;
    }

    .introduction__inner{
        transform: none
    }

    .introduction__title{
        font-size: 3rem;
        letter-spacing: 2px;
    }

    .introduction__text{
        text-align: center;
    }

    .introduction__btn{
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
